__pycache__/music_controls.cpython-313.pyc
__pycache__/music_player.cpython-313.pyc
__pycache__/pause_song.cpython-313.pyc
__pycache__/play_song.cpython-313.pyc
__pycache__/stop_song.cpython-313.pyc
__pycache__/unpause_song.cpython-313.pyc
